:root {
  --tan: rgb(245, 233, 217);
  --dark-tan: #f0d9bb;
  --green: rgb(118, 221, 122);
  --blue: rgb(89, 162, 244);
  --brown: #b89181;
  --dark-green: rgb(95, 205, 100);
  --dark-blue: rgb(49, 126, 213);
  --dark-brown: rgb(170, 123, 104);
  --sky:#e5f6ff;
  --dark-sky:#a1deff;
  --orange:rgb(255, 167, 50);
}

*{
  box-sizing: border-box;
  user-select:none;
}

html{
  height: 100%;
  font-size: .625em;
  font-family: 'Annie Use Your Telescope', cursive;
}

body{
  margin: 0;

  font-size: 1.6rem;
  height: 100%;
}

board{
  height: 100%;
  display: flex;
}

grid{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--tan);
  padding-top: 10rem;
}

row{
  display: flex;
  width: 40vw;
  max-width: 50rem;
}

tile{
  flex: 1;
  cursor: pointer;
  position: relative;
  background-attachment: fixed; 
}

tile:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: .6rem dashed var(--dark-tan);
  margin: .2rem;
  transform: scale(1);
  transition:transform .2s cubic-bezier(.175,.885,.32,2);
  border-radius: .5rem;
}

tile:hover:before{
  transform: scale(1.05);
}

controls{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #fff;
}

tile[tile-type="grass"]{
  background-image: linear-gradient(to bottom right, var(--green), var(--dark-green));
}

tile[tile-type="dirt"]{
  background-image: linear-gradient(to bottom right, var(--brown), var(--dark-brown));
}

tile[tile-type="water"]{
  background-image: linear-gradient(to bottom right, var(--blue), var(--dark-blue));
}

tile[tile-type="grass"]:before{
  border-color: var(--green);
}

tile[tile-type="dirt"]:before{
  border-color: var(--brown);
}

tile[tile-type="water"]:before{
  border-color: var(--blue);
}

.tile-types{
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.tile-types li{
  margin: 0;
  padding: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: var(--sky);
  transform: scale(1);
  transition:transform .2s cubic-bezier(.175,.885,.32,2);
}

.tile-types li{
  border: .3rem solid var(--sky);
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
}

.tile-types li:hover{
  transform: scale(1.05);
}

.tile-types li.active{
  border: .3rem solid var(--orange);
}

li[tile-type]:after{
  display: block;
  content: '';
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
}

li[tile-type="grass"]:after{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2NU26v2X15bngEGGF1fuP6H8xgYGOACD68+ZACpxFABAMk/DMk27+FXAAAAAElFTkSuQmCC) repeat;
}

li[tile-type="dirt"]:after{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQYV2Oc6SL7X8XWmQEGGPc2JvyH8xgYGOACdw7vZQCpxFABAOSzDXkSUBvMAAAAAElFTkSuQmCC) repeat;
}

li[tile-type="water"]:after{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAVElEQVQYV2NUcdj8n4GBgeHJ02cMMtJSICYYMIIkQILlu8IZOt1WwiUZOVRn/gcJbrxwgsHfwAIuyeh99Pb/p6/uMtwoe8ig0SXPIC2mzGAiJcoAANmgHpS+zRgLAAAAAElFTkSuQmCC) repeat;
}

tile[tile-type="grass"].filled icon{
  /* fill:var(--dark-green); */
}

tile[tile-type="dirt"].filled icon{
  /* fill:var(--dark-brown); */
}

tile[tile-type="water"].filled icon{
  /* fill:var(--dark-blue); */
}

/* tile[tile-type="grass"].filled{
  background-image: linear-gradient(var(--green), var(--dark-green));
}

tile[tile-type="dirt"].filled{
  background-image: linear-gradient(var(--brown), var(--dark-brown));
}

tile[tile-type="water"].filled{
  background-image: linear-gradient(var(--blue), var(--dark-blue));
} */

icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  vertical-align: middle;
  fill: #000;
  border-radius: 50%;
  background-color: #fff;
}

.icon-grid{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  opacity: 0;
}

.filled .icon-grid{
  opacity: 1;
}

.filled:before{
  border: 0;
}

svg{
  width: 100%;
  max-height: 100%;
}

drop{
  display: block;
  background: var(--sky);
  background: linear-gradient(var(--dark-sky), var(--sky));
  flex: 1;
  overflow: hidden;
  position: relative;
  padding-top: 10rem;
}

drop icon{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-1rem);
}

.drop-pls{
  animation: 10s dropIt linear;
}

@keyframes dropIt {
  from {
    transform: translateX(-50%) translateY(-1rem);
  }
  to {
    transform: translateX(-50%) translateY(100vh);
  }
}

controls div{
  display: flex;
}

start,
pause,
stop,
scoreb,
close{
  display: block;
  padding: 1.2rem 2rem;
  margin: 0 1rem;
  cursor: pointer;
  color: rgb(184, 73, 13);
  /* background-color: rgb(245, 183, 30); */
  border-radius: 1rem;
  transform: scale(1);
  transition: transform .2s cubic-bezier(.175,.885,.32,2);
  text-transform: uppercase;
  font-size: 2rem;
}

start:hover,
pause:hover,
stop:hover,
scoreb:hover,
close:hover{
  transform: scale(1.05);
}

close{
  font-size: 3rem;
}

score{
  display: block;
  position: absolute;
  background: #fff;
  border-radius: .5rem;
  bottom: 3rem;
  right: 3rem;
  padding: 1rem 3rem;
  font-size: 4rem;
  text-align: right;
  min-width: 20rem;
}

scoreboard{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  max-width: 50rem;
  height: 90vh;
  border-radius: 1rem;
  background: #fff;
  overflow-y: auto;
  display: block;
  opacity: 0;
  pointer-events: none;
  border: .3rem solid var(--orange);
}

scoreboard.show{
  opacity: 1;
  pointer-events: all;
}

scoreboard div:first-child{
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--orange);
}

scoreboard div:first-child h1{
  margin: 0;
}

scoreboard div{
  border-bottom: .1rem solid rgb(244, 238, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 2rem;
}

input{
  padding: 1rem;
  font-size: 2rem;
  font-family: 'Annie Use Your Telescope', cursive;
  border-radius:.5rem;
  border: 0;
  border-bottom: .3rem dashed var(--tan);
  text-transform: uppercase;
}

input:focus{
  outline: none;
}

bubble{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 50%;
  bottom: 3rem;
  left: calc(50% + 3rem);
  border: .5rem solid #fff;
  transform: scale(1);
  transition: transform .2s cubic-bezier(.175,.885,.32,2);
  cursor: pointer;
  overflow: hidden;
}

bubble icon{
  background: transparent;
}

bubble:hover{
  transform: scale(1.05);
}

bubble:after{
  content: '';
  position: absolute;
  width: 70%;
  height: 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-85%);
  left: 50%;
  top: 50%;
  background: linear-gradient(rgba(255,255,255,0.75), 50%, rgba(255,255,255,0));
}
